name: Microservices CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install deps (gateway)
      run: |
        cd gateway
        pip install -r requirements.txt

    - name: Basic test (gateway)
      run: |
        cd gateway
        python -c "import main"

  docker-build-push:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU (optional, for multi-arch)
      uses: docker/setup-qemu-action@v2
      with:
        platforms: linux/amd64,linux/arm64

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push gateway
      uses: docker/build-push-action@v4
      with:
        context: ./gateway
        push: true
        tags: danieltsonkov/gateway:latest

    - name: Build & Push Auth
      uses: docker/build-push-action@v4
      with:
        context: ./auth-service
        push: true
        tags: danieltsonkov/auth:latest

    - name: Build & Push User
      uses: docker/build-push-action@v4
      with:
        context: ./user-service
        push: true
        tags: danieltsonkov/user:latest

    - name: Build & Push Product
      uses: docker/build-push-action@v4
      with:
        context: ./product-service
        push: true
        tags: danieltsonkov/product:latest